nodered/flujo-integrador.json
[
    {
        "id": "c7e541e4890e4858",
        "type": "tab",
        "label": "FLUJO DE INTEGRADOR :)",
        "disabled": false,
        "info": ""
    },
    {
        "id": "97b7f71a7606a2fd",
        "type": "group",
        "z": "c7e541e4890e4858",
        "name": "Obtención de información del ambiente",
        "style": {
            "stroke": "#a4a4a4",
            "fill": "#ffC000",
            "label": true,
            "label-position": "n",
            "color": "#000000"
        },
        "nodes": [
            "54d834538e1f4426",
            "a9d7b6ea4ac87a93",
            "1b4028fa0662dec3",
            "1cbb3b45a1f779da",
            "71de4c363a5f3875",
            "9e0baab2fd727749",
            "d5d173e52ca350de",
            "13c6637d59e9dc58",
            "a79c0ea2be329839",
            "d671db1158d5f2bd",
            "7b57c1c3b4810fe0",
            "324a8339e37f9a3a"
        ],
        "x": 14,
        "y": -1,
        "w": 1032,
        "h": 302
    },
    {
        "id": "5e195b458c4a1751",
        "type": "group",
        "z": "c7e541e4890e4858",
        "name": "Configuración de temperatura",
        "style": {
            "stroke": "#000000",
            "fill": "#ff7f7f",
            "label": true,
            "label-position": "n",
            "color": "#000000"
        },
        "nodes": [
            "3d281a6de0a8ec99",
            "1d49c03c3612384a",
            "33b118c270760770",
            "0cd7106fa5a55e30",
            "e748e89ea94c1a90"
        ],
        "x": 14,
        "y": 839,
        "w": 752,
        "h": 202
    },
    {
        "id": "02598c67ee14e46a",
        "type": "group",
        "z": "c7e541e4890e4858",
        "name": "Configuración de humedad",
        "style": {
            "stroke": "#000000",
            "fill": "#7fb7df",
            "label": true,
            "label-position": "n",
            "color": "#000000"
        },
        "nodes": [
            "5f0b957c570ff1e4",
            "f3c1ea32531e6f2c",
            "771963c1ca9120da",
            "de9b3fc932c0f5c8"
        ],
        "x": 14,
        "y": 599,
        "w": 752,
        "h": 162
    },
    {
        "id": "33141fa6de4a6621",
        "type": "group",
        "z": "c7e541e4890e4858",
        "name": "Configuración de deep_sleep",
        "style": {
            "stroke": "#000000",
            "fill": "#9363b7",
            "label": true,
            "label-position": "n",
            "color": "#000000"
        },
        "nodes": [
            "71f940b7e505c0d5",
            "bb95b81b0a5bb9dd",
            "73f6dbc2899c7978",
            "b053c2b804651f26",
            "dd76d7b069520ac5"
        ],
        "x": 14,
        "y": 339,
        "w": 792,
        "h": 202
    },
    {
        "id": "cf503ccc16cfba68",
        "type": "group",
        "z": "c7e541e4890e4858",
        "name": "Suscripción al bot ",
        "style": {
            "stroke": "#000000",
            "fill": "#addb7b",
            "label": true,
            "label-position": "n",
            "color": "#000000"
        },
        "nodes": [
            "a5f7336a693f0cc3",
            "87f0bf3eaf762ffb"
        ],
        "x": 874,
        "y": 339,
        "w": 372,
        "h": 82
    },
    {
        "id": "1b4028fa0662dec3",
        "type": "junction",
        "z": "c7e541e4890e4858",
        "g": "97b7f71a7606a2fd",
        "x": 420,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "54d834538e1f4426",
        "type": "mqtt in",
        "z": "c7e541e4890e4858",
        "g": "97b7f71a7606a2fd",
        "name": "",
        "topic": "sensores/ambiente",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4c42f4f5f0c456f7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 120,
        "wires": [
            [
                "a9d7b6ea4ac87a93",
                "1cbb3b45a1f779da"
            ]
        ]
    },
    {
        "id": "a9d7b6ea4ac87a93",
        "type": "debug",
        "z": "c7e541e4890e4858",
        "g": "97b7f71a7606a2fd",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 40,
        "wires": []
    },
    {
        "id": "1cbb3b45a1f779da",
        "type": "function",
        "z": "c7e541e4890e4858",
        "g": "97b7f71a7606a2fd",
        "name": "formateador",
        "func": "const temperatura = msg.payload.temperatura;\nconst humedad = msg.payload.humedad;\nconst dispositivo = msg.payload.dispositivo;\n\n\nmsg.payload = `ambiente,dispositivo=${dispositivo} temperatura=${temperatura},humedad=${humedad}`;\nmsg.datos = {\n    dispositivo: dispositivo,\n    temperatura: temperatura,\n    humedad: humedad\n};\n\nreturn msg\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 200,
        "wires": [
            [
                "71de4c363a5f3875",
                "a79c0ea2be329839",
                "d671db1158d5f2bd"
            ]
        ]
    },
    {
        "id": "71de4c363a5f3875",
        "type": "http request",
        "z": "c7e541e4890e4858",
        "g": "97b7f71a7606a2fd",
        "name": "influx-post",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "body",
        "url": "influxdb-1:8086/write?db=iot",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": true,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "text/plain",
                "valueValue": ""
            }
        ],
        "x": 590,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "3d281a6de0a8ec99",
        "type": "telegram command",
        "z": "c7e541e4890e4858",
        "g": "5e195b458c4a1751",
        "name": "",
        "command": "/configurar_temperatura",
        "description": "Configuracion de temperatura",
        "registercommand": false,
        "language": "",
        "scope": "all_private_chats",
        "bot": "02d0723b5e9b15f8",
        "strict": false,
        "hasresponse": false,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 1,
        "x": 140,
        "y": 940,
        "wires": [
            [
                "0cd7106fa5a55e30",
                "33b118c270760770"
            ]
        ]
    },
    {
        "id": "5f0b957c570ff1e4",
        "type": "telegram command",
        "z": "c7e541e4890e4858",
        "g": "02598c67ee14e46a",
        "name": "",
        "command": "/configurar_humedad",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "02d0723b5e9b15f8",
        "strict": false,
        "hasresponse": false,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 1,
        "x": 140,
        "y": 680,
        "wires": [
            [
                "771963c1ca9120da",
                "de9b3fc932c0f5c8"
            ]
        ]
    },
    {
        "id": "1d49c03c3612384a",
        "type": "telegram sender",
        "z": "c7e541e4890e4858",
        "g": "5e195b458c4a1751",
        "name": "",
        "bot": "02d0723b5e9b15f8",
        "haserroroutput": false,
        "outputs": 1,
        "x": 650,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "33b118c270760770",
        "type": "function",
        "z": "c7e541e4890e4858",
        "g": "5e195b458c4a1751",
        "name": "function 2",
        "func": "const content = msg.payload.content;\n\nif(content === \"\"){\n    return \"\";\n}\nelse {\n    const value = Number(content);\n\n    if (typeof value === 'number' && value >= 0 && value <= 100){\n        global.set(\"alertaTemperatura\", value);\n    }\n    else {\n        return \"\"\n    }\n}\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "0cd7106fa5a55e30",
        "type": "function",
        "z": "c7e541e4890e4858",
        "g": "5e195b458c4a1751",
        "name": "function 4",
        "func": "const content = msg.payload.content;\n\nif(content === \"\"){\n    msg.payload.content = \"Por favor use el comando ingresando la temperatura deseada a configurar\\n \\\n    los valores validos son desde 0 hasta 100 C°\";\n    return msg;\n}\n\nconst value = Number(content);\n\nif (typeof value === 'number' && value >= 0 && value <= 100){\n    msg.payload.content = `valor de ${value} configurado para temperatura`;\n}\nelse {\n    msg.payload.content = \"ups\";\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 880,
        "wires": [
            [
                "1d49c03c3612384a",
                "e748e89ea94c1a90"
            ]
        ]
    },
    {
        "id": "f3c1ea32531e6f2c",
        "type": "telegram sender",
        "z": "c7e541e4890e4858",
        "g": "02598c67ee14e46a",
        "name": "",
        "bot": "02d0723b5e9b15f8",
        "haserroroutput": false,
        "outputs": 1,
        "x": 650,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "771963c1ca9120da",
        "type": "function",
        "z": "c7e541e4890e4858",
        "g": "02598c67ee14e46a",
        "name": "function 1",
        "func": "const content = msg.payload.content;\n\nif(content === \"\"){\n    msg.payload.content = \"Por favor use el comando ingresando la temperatura deseada a configurar\\n \\\n    los valores validos son desde 0 hasta 100 %\";\n    return msg;\n}\n\nconst value = Number(content);\n\nif (typeof value === 'number' && value >= 0 && value <= 100){\n    msg.payload.content = `valor de ${value}% configurado para humedad`;\n}\nelse {\n    msg.payload.content = \"ups\";\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 640,
        "wires": [
            [
                "f3c1ea32531e6f2c"
            ]
        ]
    },
    {
        "id": "de9b3fc932c0f5c8",
        "type": "function",
        "z": "c7e541e4890e4858",
        "g": "02598c67ee14e46a",
        "name": "function 3",
        "func": "const content = msg.payload.content;\n\nglobal.set(\"usuario\", { nombre: \"Juan\", edad: 30 });\n\nif(content === \"\"){\n}\nelse {\n    const value = Number(content);\n\n    if (typeof value === 'number' && value >= 0 && value <= 100){\n        global.set(\"alertaHumedad\", value);\n    }\n}\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "71f940b7e505c0d5",
        "type": "telegram command",
        "z": "c7e541e4890e4858",
        "g": "33141fa6de4a6621",
        "name": "",
        "command": "/configurar_deep_sleep",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "02d0723b5e9b15f8",
        "strict": false,
        "hasresponse": false,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 1,
        "x": 140,
        "y": 440,
        "wires": [
            [
                "73f6dbc2899c7978",
                "b053c2b804651f26"
            ]
        ]
    },
    {
        "id": "bb95b81b0a5bb9dd",
        "type": "telegram sender",
        "z": "c7e541e4890e4858",
        "g": "33141fa6de4a6621",
        "name": "",
        "bot": "02d0723b5e9b15f8",
        "haserroroutput": false,
        "outputs": 1,
        "x": 590,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "73f6dbc2899c7978",
        "type": "function",
        "z": "c7e541e4890e4858",
        "g": "33141fa6de4a6621",
        "name": "function 5",
        "func": "const content = msg.payload.content;\n\nif(content === \"\"){\n    msg.payload.content = \"Por favor use el comando ingresando el tiempo deseado en minutos, los valores validos son enteros mayores a 0\";\n    return msg;\n}\n\nconst value = Number(content);\n\nif (typeof value === 'number' && value > 0){\n    msg.payload.content = `valor de ${value}' configurado como tiempo entre mediciones`;\n}\nelse {\n    msg.payload.content = \"ups\";\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 380,
        "wires": [
            [
                "bb95b81b0a5bb9dd"
            ]
        ]
    },
    {
        "id": "b053c2b804651f26",
        "type": "function",
        "z": "c7e541e4890e4858",
        "g": "33141fa6de4a6621",
        "name": "function 6",
        "func": "const content = msg.payload.content;\n\nif(content === \"\"){\n    return \"\";\n}\nelse {\n    const value = Number(content);\n\n    if (typeof value === 'number' && value > 0 ){\n        msg.payload = {valor: value, limite:\"deep_sleep\"};\n        return msg;\n    }\n    else {\n        return \"\"\n    }\n}\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 500,
        "wires": [
            [
                "dd76d7b069520ac5"
            ]
        ]
    },
    {
        "id": "dd76d7b069520ac5",
        "type": "mqtt out",
        "z": "c7e541e4890e4858",
        "g": "33141fa6de4a6621",
        "name": "",
        "topic": "sensores/configuracion/deep_sleep",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4c42f4f5f0c456f7",
        "x": 640,
        "y": 500,
        "wires": []
    },
    {
        "id": "f0ce40cd2dd49745",
        "type": "mqtt in",
        "z": "c7e541e4890e4858",
        "name": "",
        "topic": "sensores/configuracion/deep_sleep",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "4c42f4f5f0c456f7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1320,
        "y": 140,
        "wires": [
            [
                "8b2d41d34f5b91aa"
            ]
        ]
    },
    {
        "id": "8b2d41d34f5b91aa",
        "type": "debug",
        "z": "c7e541e4890e4858",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1580,
        "y": 140,
        "wires": []
    },
    {
        "id": "9e0baab2fd727749",
        "type": "function",
        "z": "c7e541e4890e4858",
        "g": "97b7f71a7606a2fd",
        "name": "function 7",
        "func": "const valores = msg.datos;\n\nlet retorno = [[]]\n\nconst suscriptos = global.get(\"chats\");\n\nsuscriptos.forEach(function(suscripto) {\n    const temp = {};\n    temp.payload = {};\n    temp.payload.content = `La temperatura esta alta :( se detecto ${valores.temperatura} °C`\n    temp.payload.type = \"message\"\n    temp.payload.chatId = suscripto\n    retorno[0].push(temp)\n    \n});\n\n\nreturn retorno;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 80,
        "wires": [
            [
                "d5d173e52ca350de",
                "13c6637d59e9dc58"
            ]
        ]
    },
    {
        "id": "e748e89ea94c1a90",
        "type": "debug",
        "z": "c7e541e4890e4858",
        "g": "5e195b458c4a1751",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 960,
        "wires": []
    },
    {
        "id": "d5d173e52ca350de",
        "type": "debug",
        "z": "c7e541e4890e4858",
        "g": "97b7f71a7606a2fd",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 40,
        "wires": []
    },
    {
        "id": "13c6637d59e9dc58",
        "type": "telegram sender",
        "z": "c7e541e4890e4858",
        "g": "97b7f71a7606a2fd",
        "name": "",
        "bot": "02d0723b5e9b15f8",
        "haserroroutput": false,
        "outputs": 1,
        "x": 930,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "a79c0ea2be329839",
        "type": "switch",
        "z": "c7e541e4890e4858",
        "g": "97b7f71a7606a2fd",
        "name": "",
        "property": "datos.temperatura",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "alertaTemperatura",
                "vt": "global"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 570,
        "y": 120,
        "wires": [
            [
                "9e0baab2fd727749"
            ]
        ]
    },
    {
        "id": "d671db1158d5f2bd",
        "type": "switch",
        "z": "c7e541e4890e4858",
        "g": "97b7f71a7606a2fd",
        "name": "",
        "property": "datos.humedad",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "alertaHumedad",
                "vt": "global"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 570,
        "y": 180,
        "wires": [
            [
                "7b57c1c3b4810fe0"
            ]
        ]
    },
    {
        "id": "7b57c1c3b4810fe0",
        "type": "function",
        "z": "c7e541e4890e4858",
        "g": "97b7f71a7606a2fd",
        "name": "function 8",
        "func": "/*\ng.payload must be an object that contains a complete set of telegram message properties, at a minimum these should contain:\n\n    content the message contents\n    type the type of message contents\n    chatId the chatId number or an array of chatIds\n*/\n\nconst valores = msg.datos;\n\nlet retorno = [[]]\n\nconst suscriptos = global.get(\"chats\");\n\nsuscriptos.forEach(function(suscripto) {\n    const temp = {};\n    temp.payload = {};\n    temp.payload.content = `La humedad esta alta :( se detecto ${valores.humedad} %`\n    temp.payload.type = \"message\"\n    temp.payload.chatId = suscripto\n    retorno[0].push(temp)\n    \n});\n\n\n\nreturn retorno;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 180,
        "wires": [
            [
                "13c6637d59e9dc58",
                "324a8339e37f9a3a"
            ]
        ]
    },
    {
        "id": "a5f7336a693f0cc3",
        "type": "telegram command",
        "z": "c7e541e4890e4858",
        "g": "cf503ccc16cfba68",
        "name": "",
        "command": "/suscribirse",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "02d0723b5e9b15f8",
        "strict": false,
        "hasresponse": false,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 1,
        "x": 970,
        "y": 380,
        "wires": [
            [
                "87f0bf3eaf762ffb"
            ]
        ]
    },
    {
        "id": "87f0bf3eaf762ffb",
        "type": "function",
        "z": "c7e541e4890e4858",
        "g": "cf503ccc16cfba68",
        "name": "function 9",
        "func": "if(global.keys().includes(\"chats\")){\n    const id = msg.payload.chatId;\n    if(!global.get(\"chats\").includes(id))\n        global.get(\"chats\").push(id)\n    msg = {}\n    msg.chats = global.get(\"chats\")\n    msg.plop=\"Fue por aqui\"\n    return msg\n}\nelse{\n    const id = msg.payload.chatId\n    global.set(\"chats\", [id]);\n    msg = {}\n    msg.keys = global.keys()\n    msg.chats = global.get(\"chats\")\n    msg.plop=\"Fue por allí\"\n    return msg\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "9f30ba0322fea9c6",
        "type": "mqtt out",
        "z": "c7e541e4890e4858",
        "name": "",
        "topic": "sensores/ambiente",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4c42f4f5f0c456f7",
        "x": 1350,
        "y": 580,
        "wires": []
    },
    {
        "id": "192f55ef94bcdacf",
        "type": "inject",
        "z": "c7e541e4890e4858",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"temperatura\":10,\"humedad\":10,\"dispositivo\":\"Mbappe\"}",
        "payloadType": "json",
        "x": 1070,
        "y": 580,
        "wires": [
            [
                "9f30ba0322fea9c6"
            ]
        ]
    },
    {
        "id": "324a8339e37f9a3a",
        "type": "debug",
        "z": "c7e541e4890e4858",
        "g": "97b7f71a7606a2fd",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 240,
        "wires": []
    },
    {
        "id": "4c42f4f5f0c456f7",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "02d0723b5e9b15f8",
        "type": "telegram bot",
        "botname": "Iot-test",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "testenvironment": false,
        "updatemode": "polling",
        "pollinterval": 300,
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": 6667,
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbothost": "0.0.0.0",
        "localbotport": 8443,
        "publicbotport": 8443,
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "9269f243f1f0558e",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-telegrambot": "17.4.17"
        }
    }
]